<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hurricanes</title>
</head>
<body>

{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter username" name="username"/>
    <input type="password" placeholder="Enter password" name="password"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<a href="/">All</a>
<a href="/?category=1">Cat 1</a>
<a href="/?category=2">Cat 2</a>
<a href="/?category=3">Cat 3</a>
<a href="/?category=4">Cat 4</a>
<a href="/?category=5">Cat 5</a>

<form action="/" method="get">
    <input type="text" placeholder="name or location" name="search"/>
    <button type="submit">Search</button>
</form>

<form action="/hurricane" method="post">
    <input type="text" placeholder="Hurricane Name" name="hname"/>
    <input type="text" placeholder="Hurricane Location" name="hlocation"/>
    <input type="text" placeholder="Hurricane category" name="hcategory"/>
    <input type="text" placeholder="image url" name="himage" width="200"/>
    <button type="submit">Submit Hurricane</button>
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Category</th>
        <th>Image</th>
    </tr>
    {{#hurricanes}}
    <tr>
        <td>{{name}}</td>
        <td>{{location}}</td>
        <td>{{category}}</td>
        <td><img src="{{image}}" width="100" height="100"/></td>
    </tr>
    {{/hurricanes}}
</table>

{{/user}}

</body>
</html>